.line_9 {
  fill: rgb(205,200,63);
  stroke: rgb(205,200,63);
  background-color: rgb(205,200,63);
}

.line_2 {
  fill: rgb(33,110,180);
  stroke: rgb(33,110,180);
  background-color: rgb(33,110,180);
}

.line_1 {
  fill: rgb(242,201,49);
  stroke: rgb(242,201,49);
  background-color: rgb(242,201,49);
}

.line_14 {
  fill: rgb(103,50,142);
  stroke: rgb(103,50,142);
  background-color: rgb(103,50,142);
}

.line_8 {
  fill: rgb(197,163,202);
  stroke: rgb(197,163,202);
  background-color: rgb(197,163,202);
}

.line_11 {
  fill: rgb(142,101,56);
  stroke: rgb(142,101,56);
  background-color: rgb(142,101,56);
}

.line_6 {
  fill: rgb(121,187,146);
  stroke: rgb(121,187,146);
  background-color: rgb(121,187,146);
}

.line_7bis {
  fill: rgb(121,187,146);
  stroke: rgb(121,187,146);
  background-color: rgb(121,187,146);
}

.line_10 {
  fill: rgb(223,176,57);
  stroke: rgb(223,176,57);
  background-color: rgb(223,176,57);
}

.line_3 {
  fill: rgb(154,153,64);
  stroke: rgb(154,153,64);
  background-color: rgb(154,153,64);
}

.line_5 {
  fill: rgb(222,139,83);
  stroke: rgb(222,139,83);
  background-color: rgb(222,139,83);
}

.line_4 {
  fill: rgb(187,77,152);
  stroke: rgb(187,77,152);
  background-color: rgb(187,77,152);
}

.line_3bis {
  fill: rgb(137,199,214);
  stroke: rgb(137,199,214);
  background-color: rgb(137,199,214);
}

.line_13 {
  fill: rgb(137,199,214);
  stroke: rgb(137,199,214);
  background-color: rgb(137,199,214);
}

.line_7 {
  fill: rgb(223,154,177);
  stroke: rgb(223,154,177);
  background-color: rgb(223,154,177);
}

.line_12 {
  fill: rgb(50,142,91);
  stroke: rgb(50,142,91);
  background-color: rgb(50,142,91);
}
